@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto&display=swap');


body{
    font-family: 'Noto Sans JP', sans-serif;

    font-family: 'Roboto', sans-serif;
    background-image: url();
}
h1{
    font-size: 56px;
    text-align: left;
    color: white;
    border-radius:60 px;
    background-color: darkslategray;
    
}
.landing_picture{
    display: block;
    margin-left: auto;
    margin-right:auto;
    width: 50%;
}
.navbar .links a{
    margin-top: 0%;
    font-size: 28px;
    text-align: right;
    text-decoration: none;
    color: black;
  
}
.navbar .links .logo{
    font-size: 56px;
    text-align: left;
    color: darkslategray;
}